euntadf02/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "euntadf02"
		},
		"conn_adfframework_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_adfframework'"
		},
		"eundadf01-kv-pep_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f6f3a04c-f834-4a41-99a6-5a373ca539ae/resourceGroups/iduk-sandbox-rg/providers/Microsoft.KeyVault/vaults/eund-kv"
		},
		"eundadf01-kv-pep_properties_groupId": {
			"type": "string",
			"defaultValue": "vault"
		},
		"eundadf01-mssql-pep_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f6f3a04c-f834-4a41-99a6-5a373ca539ae/resourceGroups/iduk-sandbox-rg/providers/Microsoft.Sql/servers/eundadf01"
		},
		"eundadf01-mssql-pep_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_stage_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\u0001",
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "\"Company\"|\"Discount Scheme\"|\"Discount Scheme Description\"|\"Date Created\"|\"Created By\"|\"Date Changed\"|\"Changed By\"|\"Data Extract Date\"",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_zip_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_adfframework')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service description - connection to Azure SQL framework db",
				"parameters": {
					"par_secret_name": {
						"type": "String",
						"defaultValue": "frameworkUserPassword"
					},
					"par_sql_server_name": {
						"type": "String",
						"defaultValue": "eundadf01.database.windows.net"
					},
					"par_framework_db_name": {
						"type": "String",
						"defaultValue": "eundadf01-framework"
					},
					"KeyVaultService": {
						"type": "String",
						"defaultValue": "https://eund-kv.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('conn_adfframework_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_key_vault_service": {
									"value": "@linkedService().KeyVaultService",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "@linkedService().par_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0,
							"cleanup": true
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/eundadf01-kv-pep')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('eundadf01-kv-pep_properties_privateLinkResourceId')]",
				"groupId": "[parameters('eundadf01-kv-pep_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/eundadf01-mssql-pep')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('eundadf01-mssql-pep_properties_privateLinkResourceId')]",
				"groupId": "[parameters('eundadf01-mssql-pep_properties_groupId')]"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.dummy"
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:35:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.dummy",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": null,
									"type": "Int32"
								},
								"truncate_ind": {
									"value": "0",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-19T07:56:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_send_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@pipeline().parameters.par_event_to_be_sent",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_event_to_be_sent": {
						"type": "string",
						"defaultValue": {
							"event": "message"
						}
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T17:16:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_store_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "save parameter into framework table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.dummy2",
							"storedProcedureParameters": {
								"json": {
									"value": {
										"value": "@string(pipeline().parameters.par_json)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_json": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:34:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_source_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get files from source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get files from source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.ups_ins_file_load_detail",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('get files from source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"parent_file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"source_cd": {
									"value": "blob1",
									"type": "String"
								},
								"source_file_path": {
									"value": {
										"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_load_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:14:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_source_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get files from source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get files from source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.usp_ins_file_load_detail",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('get files from source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"parent_file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"source_cd": {
									"value": "blob2",
									"type": "String"
								},
								"source_file_path": {
									"value": {
										"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_load_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:14:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_framework')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfframework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@dataset().par_secret_name",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@dataset().par_sel_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@dataset().par_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@dataset().par_key_vault_service",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"par_secret_name": {
						"type": "string",
						"defaultValue": "frameworkUserPassword"
					},
					"par_sel_server_name": {
						"type": "string",
						"defaultValue": "eundadf01.database.windows.net"
					},
					"par_framework_db_name": {
						"type": "string",
						"defaultValue": "eundadf01-framework"
					},
					"par_key_vault_service": {
						"type": "string",
						"defaultValue": "https://eund-kv.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "job_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "job_name",
						"type": "varchar"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_send_event_from_queue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "read event json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@string(json(activity('read event json').output.firstRow.event))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "read event json",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('DECLARE @event nvarchar(max);SET @event = dbo.get_event('\n,string(pipeline().parameters.event_id)\n,'); SELECT @event as event')\n\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_framework",
								"type": "DatasetReference",
								"parameters": {
									"par_secret_name": {
										"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
										"type": "Expression"
									},
									"par_sel_server_name": {
										"value": "@pipeline().globalParameters.gpar_sql_server_name",
										"type": "Expression"
									},
									"par_framework_db_name": {
										"value": "@pipeline().globalParameters.gpar_framework_db_name",
										"type": "Expression"
									},
									"par_key_vault_service": {
										"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
										"type": "Expression"
									}
								}
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"event_id": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"par_event_to_be_sent": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T17:16:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_framework')]"
			]
		}
	]
}