pipeline/pl_archive.json
{
	"name": "pl_archive",
	"properties": {
		"activities": [
			{
				"name": "CopyAFile",
				"description": "Copy a file from the source store to the destination store.",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						},
						"recursive": false
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "ds_stage_file",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_src_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_src_folder_name",
								"type": "Expression"
							},
							"par_file_name": {
								"value": "@pipeline().parameters.par_src_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_archive_file",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_dst_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_dst_folder_name",
								"type": "Expression"
							},
							"par_file_name": {
								"value": "@pipeline().parameters.par_dst_file_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "DeleteAFile",
				"description": "Delete a file from the source store",
				"type": "Delete",
				"dependsOn": [
					{
						"activity": "CopyAFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_stage_file",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_src_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_src_folder_name",
								"type": "Expression"
							},
							"par_file_name": {
								"value": "@pipeline().parameters.par_src_file_name",
								"type": "Expression"
							}
						}
					},
					"enableLogging": false,
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": false
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "DeleteAFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_upd_file_load_archive_file]",
					"storedProcedureParameters": {
						"file_load_id": {
							"value": {
								"value": "@pipeline().parameters.par_file_load_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"job_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_job_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"json_parameter": {
							"value": {
								"value": "@string(activity('DeleteAFile').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_pipeline_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "conn_sql_framework",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"par_src_container_name": {
				"type": "string"
			},
			"par_src_folder_name": {
				"type": "string"
			},
			"par_src_file_name": {
				"type": "string"
			},
			"par_dst_container_name": {
				"type": "string"
			},
			"par_dst_folder_name": {
				"type": "string"
			},
			"par_dst_file_name": {
				"type": "string"
			},
			"par_file_load_id": {
				"type": "string"
			},
			"par_job_run_id": {
				"type": "string"
			},
			"par_pipeline_run_id": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-15T17:14:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}