pipeline/pl_check_source_blob1.json
{
	"name": "pl_check_source_blob1",
	"properties": {
		"activities": [
			{
				"name": "get files from source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob1_path",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_folder_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems",
						"exists",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "set JSON",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "get files from source",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.ups_ins_file_load_detail",
					"storedProcedureParameters": {
						"job_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_job_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"json_parameter": {
							"value": {
								"value": "@string(activity('get files from source').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"parent_file_load_id": {
							"value": {
								"value": "@pipeline().parameters.par_file_load_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_pipeline_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"source_cd": {
							"value": "blob1",
							"type": "String"
						},
						"source_file_path": {
							"value": {
								"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "conn_adfframework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@pipeline().globalParameters.gpar_sql_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@pipeline().globalParameters.gpar_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"par_container_name": {
				"type": "string"
			},
			"par_folder_name": {
				"type": "string"
			},
			"par_job_run_id": {
				"type": "int"
			},
			"par_pipeline_run_id": {
				"type": "int"
			},
			"par_file_load_id": {
				"type": "int"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-18T11:14:51Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}