pipeline/pl_check_bin_file_blob2.json
{
	"name": "pl_check_bin_file_blob2",
	"properties": {
		"activities": [
			{
				"name": "check file in source",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_blob2_bin_file",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_folder_name",
								"type": "Expression"
							},
							"par_file_name": {
								"value": "@pipeline().parameters.par_file_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"contentMD5",
						"exists",
						"itemName",
						"itemType",
						"lastModified",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "set JSON",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "check file in source",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].usp_upd_file_load_check_bin_file",
					"storedProcedureParameters": {
						"file_load_id": {
							"value": {
								"value": "@pipeline().parameters.par_file_load_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"job_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_job_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"json_parameter": {
							"value": {
								"value": "@string(activity('check file in source').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_pipeline_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "conn_sql_framework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@pipeline().globalParameters.gpar_sql_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@pipeline().globalParameters.gpar_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"par_container_name": {
				"type": "string"
			},
			"par_folder_name": {
				"type": "string"
			},
			"par_job_run_id": {
				"type": "int"
			},
			"par_pipeline_run_id": {
				"type": "int"
			},
			"par_file_name": {
				"type": "string"
			},
			"par_file_load_id": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-22T12:16:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}