pipeline/pl_download_zip_file_blob2.json
{
	"name": "pl_download_zip_file_blob2",
	"properties": {
		"activities": [
			{
				"name": "Download File",
				"description": "Download & unzip files into zip location",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings",
							"compressionProperties": {
								"type": "ZipDeflateReadSettings"
							}
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_blob2_zip_file",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_src_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_src_folder_name",
								"type": "Expression"
							},
							"par_file_name": {
								"value": "@pipeline().parameters.par_src_file_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_zip_path",
						"type": "DatasetReference",
						"parameters": {
							"par_container_name": {
								"value": "@pipeline().parameters.par_dst_container_name",
								"type": "Expression"
							},
							"par_folder_name": {
								"value": "@pipeline().parameters.par_dst_folder_name",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "set JSON",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Download File",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].usp_upd_file_load_download_zip_file",
					"storedProcedureParameters": {
						"file_load_id": {
							"value": {
								"value": "@string(pipeline().parameters.par_file_load_id)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"job_run_id": {
							"value": {
								"value": "@string(pipeline().parameters.par_job_run_id)",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"json_parameter": {
							"value": {
								"value": "@string(activity('Download File').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@string(pipeline().parameters.par_pipeline_run_id)",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "conn_sql_framework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@pipeline().globalParameters.gpar_sql_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@pipeline().globalParameters.gpar_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"par_src_container_name": {
				"type": "string"
			},
			"par_src_folder_name": {
				"type": "string"
			},
			"par_src_file_name": {
				"type": "string"
			},
			"par_dst_container_name": {
				"type": "string"
			},
			"par_dst_folder_name": {
				"type": "string"
			},
			"par_file_load_id": {
				"type": "string"
			},
			"par_job_run_id": {
				"type": "string"
			},
			"par_pipeline_run_id": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-22T14:21:08Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}