pipeline/pl_eh_gen_run_pipeline.json
{
	"name": "pl_eh_gen_run_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Save event",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@concat('DECLARE @job_run_id int; EXEC dbo.usp_run_event '''\n,string(pipeline().parameters.event)\n,''', @job_run_id = @job_run_id OUTPUT; SELECT @job_run_id as job_run_id')",
							"type": "Expression"
						},
						"queryTimeout": "00:10:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_framework",
						"type": "DatasetReference",
						"parameters": {
							"par_secret_name": {
								"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
								"type": "Expression"
							},
							"par_sel_server_name": {
								"value": "@pipeline().globalParameters.gpar_sql_server_name",
								"type": "Expression"
							},
							"par_framework_db_name": {
								"value": "@pipeline().globalParameters.gpar_framework_db_name",
								"type": "Expression"
							},
							"par_key_vault_service": {
								"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Save event",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Save event').output.firstRow.job_run_id, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "run generic pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_gen_run_pipeline",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"job_run_id": {
										"value": "@int(activity('Save event').output.firstRow.job_run_id)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"event": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-22T15:34:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}