pipeline/pl_gen_run_pipeline.json
{
	"name": "pl_gen_run_pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute the Pipeline",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "@string(concat('\nDECLARE @pipeline_name varchar(200),\n        @pipeline_run_id int,\n        @params nvarchar(max);\n\nEXEC dbo.usp_exec_pipeline @job_run_id = ',\nstring(pipeline().parameters.job_run_id),\n',\n       @pipeline_name = @pipeline_name OUTPUT,\n       @pipeline_run_id = @pipeline_run_id OUTPUT,\n       @params = @params OUTPUT\n\nSELECT @pipeline_name as pipeline_name,\n       @pipeline_run_id as pipeline_run_id,\n       @params as params;'\n))",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dst_sql_framework",
						"type": "DatasetReference",
						"parameters": {
							"par_secret_name": {
								"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
								"type": "Expression"
							},
							"par_sel_server_name": {
								"value": "@pipeline().globalParameters.gpar_sql_server_name",
								"type": "Expression"
							},
							"par_framework_db_name": {
								"value": "@pipeline().globalParameters.gpar_framework_db_name",
								"type": "Expression"
							},
							"par_key_vault_service": {
								"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "execute pipeline",
				"description": "execute pipeline based on output from previous activity",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Execute the Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_name)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "pl_check_source_blob2",
							"activities": [
								{
									"name": "Execute pl_check_source_blob2",
									"description": "Execute pipeline pl_check_source_blob2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_check_source_blob2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_check_source_blob1",
							"activities": [
								{
									"name": "Execute pl_check_source_blob1",
									"description": "Execute pipeline pl_check_source_blob1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_check_source_blob1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_check_file_blob1",
							"activities": [
								{
									"name": "Execute pl_check_file_blob1",
									"description": "Execute pipeline pl_check_file_blob1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_check_file_blob1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											},
											"par_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_delimiter": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].delimiter)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_check_file_blob2",
							"activities": [
								{
									"name": "Execute pl_check_file_blob2",
									"description": "Execute pipeline pl_check_file_blob2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_check_file_blob2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											},
											"par_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_delimiter": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].delimiter)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_download_file_blob1",
							"activities": [
								{
									"name": "Execute pl_download_file_blob1",
									"description": "Execute pipeline pl_download_file_blob1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_download_file_blob1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_dst_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
												"type": "Expression"
											},
											"par_dst_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
												"type": "Expression"
											},
											"par_dst_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_download_file_blob2",
							"activities": [
								{
									"name": "Execute pl_download_file_blob2",
									"description": "Execute pipeline pl_download_file_blob2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_download_file_blob2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_dst_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
												"type": "Expression"
											},
											"par_dst_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
												"type": "Expression"
											},
											"par_dst_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_check_bin_file_blob1",
							"activities": [
								{
									"name": "Execute pl_check_bin_file_blob1",
									"description": "Execute pipeline pl_check_bin_file_blob1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_check_bin_file_blob1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)\n",
												"type": "Expression"
											},
											"par_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											},
											"par_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_check_bin_file_blob2",
							"activities": [
								{
									"name": "Execute pl_check_bin_file_blob2",
									"description": "Execute pipeline pl_check_bin_file_blob2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_check_bin_file_blob2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)\n",
												"type": "Expression"
											},
											"par_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											},
											"par_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_download_zip_file_blob1",
							"activities": [
								{
									"name": "Execute pl_download_zip_file_blob1",
									"description": "Execute pipeline pl_download_zip_file_blob1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_download_zip_file_blob1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_dst_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
												"type": "Expression"
											},
											"par_dst_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_download_zip_file_blob2",
							"activities": [
								{
									"name": "Execute pl_download_zip_file_blob2",
									"description": "Execute pipeline pl_download_zip_file_blob2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_download_zip_file_blob2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_dst_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
												"type": "Expression"
											},
											"par_dst_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_load_snowflake",
							"activities": [
								{
									"name": "Execute pl_load_snowflake",
									"description": "Execute pipeline pl_load_snowflake",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_load_snowflake",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_archive_blob1",
							"activities": [
								{
									"name": "Execute pl_archive_source",
									"description": "Execute pipeline pl_archiving",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_archive_blob1",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_dst_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
												"type": "Expression"
											},
											"par_dst_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
												"type": "Expression"
											},
											"par_dst_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "pl_archive_blob2",
							"activities": [
								{
									"name": "Execute pl_archive_source_blob2",
									"description": "Execute pipeline pl_archiving",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pl_archive_blob2",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"par_src_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
												"type": "Expression"
											},
											"par_src_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
												"type": "Expression"
											},
											"par_src_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
												"type": "Expression"
											},
											"par_dst_container_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
												"type": "Expression"
											},
											"par_dst_folder_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
												"type": "Expression"
											},
											"par_dst_file_name": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
												"type": "Expression"
											},
											"par_file_load_id": {
												"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
												"type": "Expression"
											},
											"par_job_run_id": {
												"value": "@string(pipeline().parameters.job_run_id)",
												"type": "Expression"
											},
											"par_pipeline_run_id": {
												"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					],
					"defaultActivities": [
						{
							"name": "missing pipeline",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureParameters": {
									"job_run_id": {
										"value": {
											"value": "@pipeline().parameters.job_run_id",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"json_parameter": {
										"value": {
											"value": "@string(activity('Execute the Pipeline').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "conn_adfframework",
								"type": "LinkedServiceReference",
								"parameters": {
									"par_secret_name": {
										"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
										"type": "Expression"
									},
									"par_sql_server_name": {
										"value": "@pipeline().globalParameters.gpar_sql_server_name",
										"type": "Expression"
									},
									"par_framework_db_name": {
										"value": "@pipeline().globalParameters.gpar_framework_db_name",
										"type": "Expression"
									},
									"KeyVaultService": {
										"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"job_run_id": {
				"type": "int",
				"defaultValue": 77
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-11-18T11:20:41Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}