pipeline/pl_load_snowflake.json
{
	"name": "pl_load_snowflake",
	"properties": {
		"activities": [
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.dummy"
				},
				"linkedServiceName": {
					"referenceName": "conn_adfframework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@pipeline().globalParameters.gpar_sql_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@pipeline().globalParameters.gpar_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "set JSON",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "dbo.dummy",
					"storedProcedureParameters": {
						"file_load_id": {
							"value": {
								"value": "@pipeline().parameters.par_file_load_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"job_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_job_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"json_parameter": {
							"value": {
								"value": "@string(activity('Stored procedure1').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().parameters.par_pipeline_run_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "conn_adfframework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@pipeline().globalParameters.gpar_sql_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@pipeline().globalParameters.gpar_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
							"type": "Expression"
						}
					}
				}
			}
		],
		"parameters": {
			"par_src_container_name": {
				"type": "string"
			},
			"par_src_folder_name": {
				"type": "string"
			},
			"par_src_file_name": {
				"type": "string"
			},
			"par_file_load_id": {
				"type": "string"
			},
			"par_job_run_id": {
				"type": "string"
			},
			"par_pipeline_run_id": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-10-25T11:04:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}