euntadf02/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "euntadf02"
		},
		"conn_adfframework_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_adfframework'"
		},
		"conn_blob2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'conn_blob2'"
		},
		"conn_sql_framework_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_sql_framework'"
		},
		"AzureKeyVault_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().par_key_vault_service}"
		},
		"conn_adfstore01_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'conn_adfstore01'"
		},
		"conn_blob2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://test3hierarchical.dfs.core.windows.net"
		},
		"conn_snowflake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_snowflake'"
		},
		"conn_snowflake2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_snowflake2'"
		},
		"conn_snowflake3_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_snowflake3'"
		},
		"eundadf01-kv-pep_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f6f3a04c-f834-4a41-99a6-5a373ca539ae/resourceGroups/iduk-sandbox-rg/providers/Microsoft.KeyVault/vaults/eund-kv"
		},
		"eundadf01-kv-pep_properties_groupId": {
			"type": "string",
			"defaultValue": "vault"
		},
		"eundadf01-mssql-pep_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/f6f3a04c-f834-4a41-99a6-5a373ca539ae/resourceGroups/iduk-sandbox-rg/providers/Microsoft.Sql/servers/eundadf01"
		},
		"eundadf01-mssql-pep_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/KeyVaultTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.dummy"
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:35:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.dummy",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": null,
									"type": "Int32"
								},
								"truncate_ind": {
									"value": "0",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-19T07:56:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "send event",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"method": "POST",
							"headers": {},
							"body": {
								"test": "123s"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-23T15:07:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_read_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dummy2",
							"storedProcedureParameters": {
								"json": {
									"value": {
										"value": "@string(pipeline().parameters.par_json)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_json": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:34:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_send_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@pipeline().parameters.par_event_to_be_sent",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_event_to_be_sent": {
						"type": "string",
						"defaultValue": {
							"event": "message"
						}
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T17:16:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_send_event_from_queue')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "read event json",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@string(json(activity('read event json').output.firstRow.event))\n",
								"type": "Expression"
							}
						}
					},
					{
						"name": "read event json",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@concat('DECLARE @event nvarchar(max);SET @event = dbo.get_event('\n,string(pipeline().parameters.event_id)\n,'); SELECT @event as event')\n\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_framework",
								"type": "DatasetReference",
								"parameters": {
									"par_secret_name": {
										"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
										"type": "Expression"
									},
									"par_sel_server_name": {
										"value": "@pipeline().globalParameters.gpar_sql_server_name",
										"type": "Expression"
									},
									"par_framework_db_name": {
										"value": "@pipeline().globalParameters.gpar_framework_db_name",
										"type": "Expression"
									},
									"par_key_vault_service": {
										"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
										"type": "Expression"
									}
								}
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"event_id": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"variables": {
					"par_event_to_be_sent": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T17:16:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]",
				"[concat(variables('factoryId'), '/datasets/dst_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_store_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "save parameter into framework table",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.dummy2",
							"storedProcedureParameters": {
								"json": {
									"value": {
										"value": "@string(pipeline().parameters.par_json)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_json": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:34:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_trigger_receive_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-30.uksouth.logic.azure.com:443/workflows/b299884534824bada37e8d8b0f3c03ed/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AxJ7G653WgdfC677qKnFWAy9ApaK5qqMOgWXsvocrwk",
							"method": "POST",
							"headers": {},
							"body": {
								"test": "5678"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-23T09:11:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_bin_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"contentMD5",
								"exists",
								"itemName",
								"itemType",
								"lastModified",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_bin_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T10:43:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_bin_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"contentMD5",
								"exists",
								"itemName",
								"itemType",
								"lastModified",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_bin_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T12:16:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_csv_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									},
									"par_delimiter": {
										"value": "@pipeline().parameters.par_delimiter",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"lastModified",
								"columnCount",
								"contentMD5",
								"structure",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T07:03:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_csv_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_csv_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									},
									"par_delimiter": {
										"value": "@pipeline().parameters.par_delimiter",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"lastModified",
								"columnCount",
								"contentMD5",
								"structure",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T07:03:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_csv_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_source_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get files from source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get files from source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.ups_ins_file_load_detail",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('get files from source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"parent_file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"source_cd": {
									"value": "blob1",
									"type": "String"
								},
								"source_file_path": {
									"value": {
										"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_load_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:14:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_path')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_source_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get files from source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get files from source",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dbo.usp_ins_file_load_detail",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('get files from source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"parent_file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"source_cd": {
									"value": "blob2",
									"type": "String"
								},
								"source_file_path": {
									"value": {
										"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_load_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:14:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_path')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_bin_file_blob1_to_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T07:00:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_bin_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download delimited file from blob2 to stage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_adfframework",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_secret_name": {
									"value": "@pipeline().globalParameters.gpar_kv_sql_server_password",
									"type": "Expression"
								},
								"par_sql_server_name": {
									"value": "@pipeline().globalParameters.gpar_sql_server_name",
									"type": "Expression"
								},
								"par_framework_db_name": {
									"value": "@pipeline().globalParameters.gpar_framework_db_name",
									"type": "Expression"
								},
								"KeyVaultService": {
									"value": "@pipeline().globalParameters.gpar_key_vault_service_name",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T07:43:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_archive_bin_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_archive_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "\"Company\"|\"Discount Scheme\"|\"Discount Scheme Description\"|\"Date Created\"|\"Created By\"|\"Date Changed\"|\"Changed By\"|\"Data Extract Date\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_bin_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_bin_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_csv_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().par_delimiter",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\u0001",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_zip_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_bin_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_bin_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_csv_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().par_delimiter",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_zip_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snowflake_proc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snowflake_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_snowflake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_schema_name": {
						"type": "string"
					},
					"par_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "Data_Source_Type_Key",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Market_Date",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "NAV_Date",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Fund_Class_Code",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Fund_Class_Name",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "ISIN",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Nav_Per_Share",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Nav_Per_Share_With_Div_Reinvested",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Modified_GAV",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "BMK",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "AUM_At_Class_Level",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "FILE_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LineNo",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "CDC_DATE_KEY",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().par_schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().par_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snowflake_table_par')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_snowflake2",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_account_name": "ja91996.west-europe.azure.snowflakecomputing.com",
						"par_user_name": "krzysztof_gil"
					}
				},
				"parameters": {
					"par_schema_name": {
						"type": "string"
					},
					"par_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "Data_Source_Type_Key",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Market_Date",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "NAV_Date",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Fund_Class_Code",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Fund_Class_Name",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "ISIN",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Nav_Per_Share",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Nav_Per_Share_With_Div_Reinvested",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Modified_GAV",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "BMK",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "AUM_At_Class_Level",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "FILE_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LineNo",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "CDC_DATE_KEY",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().par_schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().par_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_snowflake2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stage_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\u0001",
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "\"Company\"|\"Discount Scheme\"|\"Discount Scheme Description\"|\"Date Created\"|\"Created By\"|\"Date Changed\"|\"Changed By\"|\"Data Extract Date\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_zip_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_framework')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfframework",
					"type": "LinkedServiceReference",
					"parameters": {
						"par_secret_name": {
							"value": "@dataset().par_secret_name",
							"type": "Expression"
						},
						"par_sql_server_name": {
							"value": "@dataset().par_sel_server_name",
							"type": "Expression"
						},
						"par_framework_db_name": {
							"value": "@dataset().par_framework_db_name",
							"type": "Expression"
						},
						"KeyVaultService": {
							"value": "@dataset().par_key_vault_service",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"par_secret_name": {
						"type": "string",
						"defaultValue": "frameworkUserPassword"
					},
					"par_sel_server_name": {
						"type": "string",
						"defaultValue": "eundadf01.database.windows.net"
					},
					"par_framework_db_name": {
						"type": "string",
						"defaultValue": "eundadf01-framework"
					},
					"par_key_vault_service": {
						"type": "string",
						"defaultValue": "https://eund-kv.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "job_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "job_name",
						"type": "varchar"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"par_key_vault_service": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_adfframework')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service description - connection to Azure SQL framework db",
				"parameters": {
					"par_secret_name": {
						"type": "String",
						"defaultValue": "frameworkUserPassword"
					},
					"par_sql_server_name": {
						"type": "String",
						"defaultValue": "eundadf01.database.windows.net"
					},
					"par_framework_db_name": {
						"type": "String",
						"defaultValue": "eundadf01-framework"
					},
					"KeyVaultService": {
						"type": "String",
						"defaultValue": "https://eund-kv.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('conn_adfframework_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault",
							"type": "LinkedServiceReference",
							"parameters": {
								"par_key_vault_service": {
									"value": "@linkedService().KeyVaultService",
									"type": "Expression"
								}
							}
						},
						"secretName": {
							"value": "@linkedService().par_secret_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_adfstore01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('conn_adfstore01_sasUri')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_blob2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Description made on dev",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('conn_blob2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('conn_blob2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to snowflake database",
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": "[parameters('conn_snowflake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_snowflake2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Snowflake",
				"description": "connection to snowflake database",
				"annotations": [],
				"parameters": {
					"par_account_name": {
						"type": "string"
					},
					"par_user_name": {
						"type": "string"
					}
				},
				"typeProperties": {
					"connectionString": "[parameters('conn_snowflake2_connectionString')]",
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRGLVNBTkRCT1gtREVWMV84ZTY1NDk5OS1mZDY5LTRmZGItODk3ZS04YzU0MWI5N2E4ZDkiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_snowflake3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Snowflake",
				"description": "connection to snowflake database",
				"annotations": [],
				"parameters": {
					"par_account_name": {
						"type": "string"
					},
					"par_user_name": {
						"type": "string"
					}
				},
				"typeProperties": {
					"connectionString": "[parameters('conn_snowflake3_connectionString')]",
					"encryptedCredential": "ew0KICAiVmVyc2lvbiI6ICIyMDE3LTExLTMwIiwNCiAgIlByb3RlY3Rpb25Nb2RlIjogIktleSIsDQogICJTZWNyZXRDb250ZW50VHlwZSI6ICJQbGFpbnRleHQiLA0KICAiQ3JlZGVudGlhbElkIjogIkRBVEFGQUNUT1JZQEE3QkNCQ0Y4LUE4RkUtNDlDOS1BQjNBLUZEQzIwQjBGMzRGMV81OTA3Yzg0MS0zMjQ4LTQ2MWQtODE1ZC0yMzIzNGNiM2U0MjEiDQp9"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_sql_framework')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "desc",
				"parameters": {
					"par_secret_name": {
						"type": "String"
					},
					"par_sql_server_name": {
						"type": "String"
					},
					"par_framework_db_name": {
						"type": "String"
					},
					"KeyVaultService": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('conn_sql_framework_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0,
							"cleanup": true
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/self-hosted')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/eundadf01-kv-pep')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('eundadf01-kv-pep_properties_privateLinkResourceId')]",
				"groupId": "[parameters('eundadf01-kv-pep_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/eundadf01-mssql-pep')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('eundadf01-mssql-pep_properties_privateLinkResourceId')]",
				"groupId": "[parameters('eundadf01-mssql-pep_properties_groupId')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}