df-sandbox-dev1/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "df-sandbox-dev1"
		},
		"conn_adfframework_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_adfframework'"
		},
		"conn_adfstore01_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_adfstore01'"
		},
		"conn_blob1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_blob1'"
		},
		"conn_blob2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'conn_blob2'"
		},
		"conn_sql_framework_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_sql_framework'"
		},
		"conn_blob2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://test3hierarchical.dfs.core.windows.net"
		},
		"conn_snowflake_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'conn_snowflake'"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.00:35:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[init_daily_load]",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": null,
									"type": "Int32"
								},
								"truncate_ind": {
									"value": "0",
									"type": "Byte"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-19T07:56:19Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "send event",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"method": "POST",
							"headers": {},
							"body": {
								"test": "123s"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-23T15:07:45Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_read_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "dummy2",
							"storedProcedureParameters": {
								"json": {
									"value": {
										"value": "@string(pipeline().parameters.par_json)",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_json": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:34:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_send_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"method": "POST",
							"headers": {},
							"body": {
								"test": "1234"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T17:16:48Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline_trigger_receive_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-30.uksouth.logic.azure.com:443/workflows/b299884534824bada37e8d8b0f3c03ed/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AxJ7G653WgdfC677qKnFWAy9ApaK5qqMOgWXsvocrwk",
							"method": "POST",
							"headers": {},
							"body": {
								"test": "5678"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-23T09:11:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_archive')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyAFile",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ds_stage_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_archive_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteAFile",
						"description": "Delete a file from the source store",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_stage_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_upd_file_load_archive_file]",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('DeleteAFile').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-15T17:14:04Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_stage_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_archive_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_archive_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyAFile",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_archive_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteAFile",
						"description": "Delete a file from the source store",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "update archive file",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_upd_file_load_archive_file]",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('DeleteAFile').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T16:34:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_archive_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_archive_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyAFile",
						"description": "Copy a file from the source store to the destination store.",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								},
								"recursive": false
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false,
							"dataIntegrationUnits": 0
						},
						"inputs": [
							{
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_archive_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "DeleteAFile",
						"description": "Delete a file from the source store",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "CopyAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": false
							}
						}
					},
					{
						"name": "update archive file",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "DeleteAFile",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[usp_upd_file_load_archive_file]",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('DeleteAFile').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-17T16:34:59Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_archive_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_bin_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"contentMD5",
								"exists",
								"itemName",
								"itemType",
								"lastModified",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_bin_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T10:43:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_bin_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"contentMD5",
								"exists",
								"itemName",
								"itemType",
								"lastModified",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_bin_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T12:16:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_csv_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									},
									"par_delimiter": {
										"value": "@pipeline().parameters.par_delimiter",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"lastModified",
								"columnCount",
								"contentMD5",
								"structure",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T07:03:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_csv_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "check file in source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_csv_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_file_name",
										"type": "Expression"
									},
									"par_delimiter": {
										"value": "@pipeline().parameters.par_delimiter",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"lastModified",
								"columnCount",
								"contentMD5",
								"structure",
								"size"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "check file in source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_check_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('check file in source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T07:03:40Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_csv_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_source_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get files from source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob1_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get files from source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_ins_file_load_detail ",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('get files from source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"parent_file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"source_cd": {
									"value": "blob1",
									"type": "String"
								},
								"source_file_path": {
									"value": {
										"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_load_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:14:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_path')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_check_source_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get files from source",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "ds_blob2_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_folder_name",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"itemName",
								"itemType",
								"childItems",
								"exists",
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get files from source",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_ins_file_load_detail ",
							"storedProcedureParameters": {
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('get files from source').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"parent_file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"source_cd": {
									"value": "blob2",
									"type": "String"
								},
								"source_file_path": {
									"value": {
										"value": "@string(concat(pipeline().parameters.par_container_name, '/',pipeline().parameters.par_folder_name))",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "int"
					},
					"par_pipeline_run_id": {
						"type": "int"
					},
					"par_file_load_id": {
						"type": "int"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:14:51Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_path')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_bin_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download delimited file from blob2 to stage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T07:46:38Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_bin_file_blob1_to_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T07:00:49Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_bin_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download delimited file from blob2 to stage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob2_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_blob1_bin_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T07:43:46Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_bin_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download delimited file from blob2 to stage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob1_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stage_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T14:01:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_stage_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download delimited file from blob2 to stage",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_blob2_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_stage_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_dst_file_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_dst_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T14:01:56Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_stage_file')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_zip_file_blob1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download & unzip files into zip location",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob1_zip_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_zip_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T13:50:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob1_zip_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_zip_path')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_download_zip_file_blob2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Download File",
						"description": "Download & unzip files into zip location",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob2_zip_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_src_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_src_folder_name",
										"type": "Expression"
									},
									"par_file_name": {
										"value": "@pipeline().parameters.par_src_file_name",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_zip_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": {
										"value": "@pipeline().parameters.par_dst_container_name",
										"type": "Expression"
									},
									"par_folder_name": {
										"value": "@pipeline().parameters.par_dst_folder_name",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Download File",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_download_zip_file",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_file_load_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_job_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Download File').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@string(pipeline().parameters.par_pipeline_run_id)",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_dst_container_name": {
						"type": "string"
					},
					"par_dst_folder_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T14:21:08Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_zip_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_zip_path')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_gen_run_pipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute the Pipeline",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "@string(concat('\nDECLARE @pipeline_name varchar(200),\n        @pipeline_run_id int,\n        @params nvarchar(max);\n\nEXEC dbo.usp_exec_pipeline @job_run_id = ',\nstring(pipeline().parameters.job_run_id),\n',\n       @pipeline_name = @pipeline_name OUTPUT,\n       @pipeline_run_id = @pipeline_run_id OUTPUT,\n       @params = @params OUTPUT\n\nSELECT @pipeline_name as pipeline_name,\n       @pipeline_run_id as pipeline_run_id,\n       @params as params;'\n))",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_framework",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "execute pipeline",
						"description": "execute pipeline based on output from previous activity",
						"type": "Switch",
						"dependsOn": [
							{
								"activity": "Execute the Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"on": {
								"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_name)",
								"type": "Expression"
							},
							"cases": [
								{
									"value": "pl_check_source_blob2",
									"activities": [
										{
											"name": "Execute pl_check_source_blob2",
											"description": "Execute pipeline pl_check_source_blob2",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_check_source_blob2",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_check_source_blob1",
									"activities": [
										{
											"name": "Execute pl_check_source_blob1",
											"description": "Execute pipeline pl_check_source_blob1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_check_source_blob1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_check_file_blob1",
									"activities": [
										{
											"name": "Execute pl_check_file_blob1",
											"description": "Execute pipeline pl_check_file_blob1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_check_file_blob1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													},
													"par_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_delimiter": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].delimiter)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_check_file_blob2",
									"activities": [
										{
											"name": "Execute pl_check_file_blob2",
											"description": "Execute pipeline pl_check_file_blob2",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_check_file_blob2",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													},
													"par_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_delimiter": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].delimiter)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_download_file_blob1",
									"activities": [
										{
											"name": "Execute pl_download_file_blob1",
											"description": "Execute pipeline pl_download_file_blob1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_download_file_blob1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_dst_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
														"type": "Expression"
													},
													"par_dst_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
														"type": "Expression"
													},
													"par_dst_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_download_file_blob2",
									"activities": [
										{
											"name": "Execute pl_download_file_blob2",
											"description": "Execute pipeline pl_download_file_blob2",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_download_file_blob2",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_dst_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
														"type": "Expression"
													},
													"par_dst_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
														"type": "Expression"
													},
													"par_dst_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_check_bin_file_blob1",
									"activities": [
										{
											"name": "Execute pl_check_bin_file_blob1",
											"description": "Execute pipeline pl_check_bin_file_blob1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_check_bin_file_blob1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)\n",
														"type": "Expression"
													},
													"par_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													},
													"par_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_check_bin_file_blob2",
									"activities": [
										{
											"name": "Execute pl_check_bin_file_blob2",
											"description": "Execute pipeline pl_check_bin_file_blob2",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_check_bin_file_blob2",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)\n",
														"type": "Expression"
													},
													"par_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													},
													"par_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_download_zip_file_blob1",
									"activities": [
										{
											"name": "Execute pl_download_zip_file_blob1",
											"description": "Execute pipeline pl_download_zip_file_blob1",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_download_zip_file_blob1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_dst_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
														"type": "Expression"
													},
													"par_dst_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_download_zip_file_blob2",
									"activities": [
										{
											"name": "Execute pl_download_zip_file_blob2",
											"description": "Execute pipeline pl_download_zip_file_blob2",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_download_zip_file_blob2",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_dst_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
														"type": "Expression"
													},
													"par_dst_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_load_snowflake",
									"activities": [
										{
											"name": "Execute pl_load_snowflake",
											"description": "Execute pipeline pl_load_snowflake",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_load_snowflake",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_archive_blob1",
									"activities": [
										{
											"name": "Execute pl_archive_source",
											"description": "Execute pipeline pl_archiving",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_archive_blob1",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_dst_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
														"type": "Expression"
													},
													"par_dst_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
														"type": "Expression"
													},
													"par_dst_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								},
								{
									"value": "pl_archive_blob2",
									"activities": [
										{
											"name": "Execute pl_archive_source_blob2",
											"description": "Execute pipeline pl_archiving",
											"type": "ExecutePipeline",
											"dependsOn": [],
											"userProperties": [],
											"typeProperties": {
												"pipeline": {
													"referenceName": "pl_archive_blob2",
													"type": "PipelineReference"
												},
												"waitOnCompletion": true,
												"parameters": {
													"par_src_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_container_name)",
														"type": "Expression"
													},
													"par_src_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_folder_name)",
														"type": "Expression"
													},
													"par_src_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].src_file_name)",
														"type": "Expression"
													},
													"par_dst_container_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_container_name)",
														"type": "Expression"
													},
													"par_dst_folder_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_folder_name)",
														"type": "Expression"
													},
													"par_dst_file_name": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].dst_file_name)",
														"type": "Expression"
													},
													"par_file_load_id": {
														"value": "@string(json(activity('Execute the Pipeline').output.firstRow.params)[0].file_load_id)",
														"type": "Expression"
													},
													"par_job_run_id": {
														"value": "@string(pipeline().parameters.job_run_id)",
														"type": "Expression"
													},
													"par_pipeline_run_id": {
														"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
														"type": "Expression"
													}
												}
											}
										}
									]
								}
							],
							"defaultActivities": [
								{
									"name": "missing pipeline",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[usp_upd_pipeline_run]",
										"storedProcedureParameters": {
											"job_run_id": {
												"value": {
													"value": "@pipeline().parameters.job_run_id",
													"type": "Expression"
												},
												"type": "Int32"
											},
											"json_parameter": {
												"value": {
													"value": "@string(activity('Execute the Pipeline').output)",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipeline_run_id": {
												"value": {
													"value": "@string(activity('Execute the Pipeline').output.firstRow.pipeline_run_id)",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "conn_sql_framework",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"job_run_id": {
						"type": "int",
						"defaultValue": 77
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-18T11:20:41Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_sql_framework')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]",
				"[concat(variables('factoryId'), '/pipelines/pl_check_source_blob2')]",
				"[concat(variables('factoryId'), '/pipelines/pl_check_source_blob1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_check_file_blob1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_check_file_blob2')]",
				"[concat(variables('factoryId'), '/pipelines/pl_download_file_blob1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_download_file_blob2')]",
				"[concat(variables('factoryId'), '/pipelines/pl_check_bin_file_blob1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_check_bin_file_blob2')]",
				"[concat(variables('factoryId'), '/pipelines/pl_download_zip_file_blob1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_download_zip_file_blob2')]",
				"[concat(variables('factoryId'), '/pipelines/pl_load_snowflake')]",
				"[concat(variables('factoryId'), '/pipelines/pl_archive_blob1')]",
				"[concat(variables('factoryId'), '/pipelines/pl_archive_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_job_run')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "run_all_events",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "Set var_event_count",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(int(variables('var_event_count')),0)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Check event count in loop",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderQuery": "SELECT dbo.fn_get_event_count() as event_count",
											"queryTimeout": "02:00:00",
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "dst_sql_framework",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "Set event count",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Check event count in loop",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"variableName": "var_event_count",
										"value": {
											"value": "@string(activity('Check event count in loop').output.firstRow.event_count)\n",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Check if events exist",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "Set event count",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@greater(int(variables('var_event_count')), 0)",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "Execute generic pipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_gen_run_pipeline",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"job_run_id": {
															"value": "@variables('job_run_id')",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								},
								{
									"name": "trigger procedures events",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Check if events exist",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[trigger_event]",
										"storedProcedureParameters": {
											"job_run_id": {
												"value": {
													"value": "@int(variables('job_run_id'))",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "conn_adfframework",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "trigger files event",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Check if events exist",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[trigger_file_event]",
										"storedProcedureParameters": {
											"job_run_id": {
												"value": {
													"value": "@int(variables('job_run_id'))",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "conn_adfframework",
										"type": "LinkedServiceReference"
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					},
					{
						"name": "Set var_event_count",
						"description": "",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Set job_run_id",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var_event_count",
							"value": "1"
						}
					},
					{
						"name": "Start new job",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.03:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "DECLARE @job_run_id int;\nEXEC dbo.init_daily_load @job_run_id OUTPUT;\n\nSELECT @job_run_id as job_run_id",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "dst_sql_framework",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set job_run_id",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Start new job",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "job_run_id",
							"value": {
								"value": "@string(activity('Start new job').output.firstRow.job_run_id)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_event_count": {
						"type": "String",
						"defaultValue": "1"
					},
					"job_run_id": {
						"type": "String"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-23T16:21:09Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dst_sql_framework')]",
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]",
				"[concat(variables('factoryId'), '/pipelines/pl_gen_run_pipeline')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_load_snowflake')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[dummy]"
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "set JSON",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Stored procedure1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[dbo].usp_upd_file_load_stage_to_snowflake",
							"storedProcedureParameters": {
								"file_load_id": {
									"value": {
										"value": "@pipeline().parameters.par_file_load_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"job_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_job_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								},
								"json_parameter": {
									"value": {
										"value": "@string(activity('Stored procedure1').output)",
										"type": "Expression"
									},
									"type": "String"
								},
								"pipeline_run_id": {
									"value": {
										"value": "@pipeline().parameters.par_pipeline_run_id",
										"type": "Expression"
									},
									"type": "Int32"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "conn_sql_framework",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"par_src_container_name": {
						"type": "string"
					},
					"par_src_folder_name": {
						"type": "string"
					},
					"par_src_file_name": {
						"type": "string"
					},
					"par_file_load_id": {
						"type": "string"
					},
					"par_job_run_id": {
						"type": "string"
					},
					"par_pipeline_run_id": {
						"type": "string"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T11:04:29Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_sql_framework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_send_event')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "send event",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-03.uksouth.logic.azure.com:443/workflows/7ecd81733c584ca4b5a6a0f630963012/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=rpaNYf0dvVQATVVbaGxv9UDOERESm5khbqeToghEKf4",
							"method": "POST",
							"headers": {},
							"body": {
								"value": "@string(variables('var_event_json'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var_event_json": {
						"type": "String",
						"defaultValue": "{\"test\":\"123\"}"
					}
				},
				"annotations": [],
				"lastPublishTime": "2021-11-22T15:19:28Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"message": "\"pl_test1 executed\"",
							"errorCode": "9999"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Fail2",
						"type": "Fail",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"message": "\"pl_test2 executed\"",
							"errorCode": "9999"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test_snowflake_proc')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SnowflakeSource",
								"query": "CALL PUBLIC.TEST_PROC1();",
								"exportSettings": {
									"type": "SnowflakeExportCopyCommand"
								}
							},
							"dataset": {
								"referenceName": "ds_snowflake_proc",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-25T15:21:15Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_snowflake_proc')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test_unzip')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"deleteFilesAfterCompletion": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings",
									"compressionProperties": {
										"type": "ZipDeflateReadSettings"
									}
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ds_blob2_zip_file",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": "container3",
									"par_folder_name": "test1",
									"par_file_name": "data1.zip"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_blob1_bin_path",
								"type": "DatasetReference",
								"parameters": {
									"par_container_name": "zip",
									"par_folder_name": "file_id_105"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2021-10-22T06:52:17Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/ds_blob2_zip_file')]",
				"[concat(variables('factoryId'), '/datasets/ds_blob1_bin_path')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test_web_execution')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dynamic pipeline execution",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@string(concat('https://management.azure.com/subscriptions/f6f3a04c-f834-4a41-99a6-5a373ca539ae/resourceGroups/iduk-sandbox-rg/providers/Microsoft.DataFactory/factories/df-sandbox-dev1/pipelines/',string(pipeline().parameters.pipeline_name),'?api-version=2018-06-01'))",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "integrationRuntime2",
								"type": "IntegrationRuntimeReference"
							},
							"method": "PUT",
							"headers": {},
							"body": {
								"test": " test"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pipeline_name": {
						"type": "string",
						"defaultValue": "pl_test1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_archive_bin_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_archive_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "\"Company\"|\"Discount Scheme\"|\"Discount Scheme Description\"|\"Date Created\"|\"Created By\"|\"Date Changed\"|\"Changed By\"|\"Data Extract Date\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_bin_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_bin_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_csv_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().par_delimiter",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\u0001",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob1_zip_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_bin_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_bin_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_csv_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					},
					"par_delimiter": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": {
						"value": "@dataset().par_delimiter",
						"type": "Expression"
					},
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_blob2_zip_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_blob2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "ZipDeflate",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_blob2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snowflake_proc')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_snowflake",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_snowflake_table')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_snowflake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_schema_name": {
						"type": "string"
					},
					"par_table_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SnowflakeTable",
				"schema": [
					{
						"name": "Data_Source_Type_Key",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Market_Date",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "NAV_Date",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Fund_Class_Code",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Fund_Class_Name",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "ISIN",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Nav_Per_Share",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Nav_Per_Share_With_Div_Reinvested",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "Modified_GAV",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "BMK",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "AUM_At_Class_Level",
						"type": "VARCHAR",
						"precision": 244,
						"scale": 0
					},
					{
						"name": "FILE_ID",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "LineNo",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					},
					{
						"name": "CDC_DATE_KEY",
						"type": "NUMBER",
						"precision": 38,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().par_schema_name",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().par_table_name",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_snowflake')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_stage_file')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					},
					"par_file_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().par_file_name",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					},
					"columnDelimiter": "\u0001",
					"encodingName": "UTF-8",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": ""
				},
				"schema": [
					{
						"name": "\"Company\"|\"Discount Scheme\"|\"Discount Scheme Description\"|\"Date Created\"|\"Created By\"|\"Date Changed\"|\"Changed By\"|\"Data Extract Date\"",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_zip_path')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfstore01",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"par_container_name": {
						"type": "string"
					},
					"par_folder_name": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().par_folder_name",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().par_container_name",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfstore01')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dst_sql_framework')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "conn_adfframework",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "job_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "job_name",
						"type": "varchar"
					}
				],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/conn_adfframework')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_adfframework')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('conn_adfframework_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_adfstore01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('conn_adfstore01_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_blob1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('conn_blob1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_blob2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Description added",
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('conn_blob2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('conn_blob2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_snowflake')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "connection to snowflake database",
				"annotations": [],
				"type": "Snowflake",
				"typeProperties": {
					"connectionString": "[parameters('conn_snowflake_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/conn_sql_framework')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('conn_sql_framework_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				},
				"managedVirtualNetwork": {
					"type": "ManagedVirtualNetworkReference",
					"referenceName": "default"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntime2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 10,
							"cleanup": false
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "var3",
							"value": "qwe"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"variables": {
					"var3": {
						"type": "String"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_test_web_get')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "dynamic pipeline execution",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@string(concat('https://management.azure.com/subscriptions/f6f3a04c-f834-4a41-99a6-5a373ca539ae/resourceGroups/iduk-sandbox-rg/providers/Microsoft.DataFactory/factories/df-sandbox-dev1/pipelines/',string(pipeline().parameters.pipeline_name),'?api-version=2018-06-01'))",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "integrationRuntime2",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"test": " test"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"pipeline_name": {
						"type": "string",
						"defaultValue": "pl_test1"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/integrationRuntime2')]"
			]
		}
	]
}